.header {
    display: flex;
    padding: 30px;
}

.header h1 {
    flex: 1;
    font-size: 35px;
    margin: 0;
    font-weight: bold;
}

.header ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.header ul li {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}