.container {
    width: 100vw;
    height: 100vh;
}

.currentColor {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 60px;
    margin-top: 50px;
    flex-direction: column;
    gap: 20px;
}